<h1>Forgot Password</h1>
<% form_tag create_reset_code_path do %>
  <p>
    Email<br/>
    <%= text_field_tag :email %>
  </p>

  <%= submit_tag "Submit" %> | <%= link_to "Back", root_path %>
<% end %>